@font-face {
    font-family: 'digikala';
    src: url('../fonts/font/IRANSans.eot');
    src: url('../fonts/font/IRANSans.woff2') format('woff2'),
    url('../fonts/font/IRANSans.woff') format('woff');
}

body {
    font-family: digikala, serif;
    box-sizing: border-box;
    color : #333 ;
    overflow-y: scroll;
}
.search-input{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
}
.swiper-wrapper{
    align-items: center;
}
.search-input:focus{
    outline: none;
}
.search-bar{
    max-height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-x: hidden;
    padding: 0 20px;
    z-index: 10001;
    top: -20px;
}
.search-box{
    min-height: 300px;
    transition: all .3s ;
    opacity: 0;
}
.header-items{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}
.header-items li {
    font-size: 12px;
    cursor: pointer;
}
.header-items{
    transition: all .3s ;
}
.off-percent{
    background-color: #ef394e;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    font-size: 12px;
}
.old-price{
    color: #888;
    font-size: 13px;
    text-decoration: line-through;
}
.ant-select-selector{
    border-radius: 10px !important;
}
.price{
    font-size: 13px;
    font-weight: bold;
    color : #333 ;
}
.products-row{
    padding: 15px 0;
    width: 100%;
    min-height: 200px;
    background-color:#ef394e ;
    border: 2px solid #ef394e;
    border-radius: 10px;
}
.next-btn , .prev-btn{
    position: absolute;
    right: 110px;
    bottom:40px ;
    width: 40px;
    height: 40px;
    border: 1px solid #bbb;
    background-color: #eee;
    border-radius: 50%;
    opacity: 0;
    transition:all .3s;
    z-index: 2;
}
.prev-btn{
    right: 50px;
}

.loading-container{
    width: 100%;
    background-color: #f2f2f2;
    height: 300px;
}
.slider-container:hover .prev-btn , .slider-container:hover .next-btn{
    opacity: 1;
}
.fresh {
    background-image: url("https://www.digikala.com/statics/img/svg/typography/freshPattern.svg");
    background-repeat: no-repeat;
    background-color: #e9ede9;
}
.shadow-fade{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}
.four-pic:first-child , .brands:first-child{
    border-right: none !important;
}
.cart-box{
    display: none;
    opacity: 0;
    position: absolute;
    left : 20% ;
    top : 100%;
    width: 350px;
    background-color: white;
    transition: opacity .2s;
    overflow-y: hidden;
    overflow-x: hidden;
}
.cart-div:hover .cart-box{
    display: block;
    opacity: 1;
}
.cart:hover{
    background-color: rgba(255,0,0,.3);
}
.cart-box:hover{
    display: block;
    opacity: 1;
}
.digi-plus{
    background-image: url("https://www.digikala.com/statics/img/png/digiplus/plus-widget.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 350px;
}
.other-sellers:nth-child(odd){
    background-color: #f7f7f8;
}
@media screen and (max-width: 990px) {
    .no-border{
        border: none !important; ;
    }
}
@media screen and (min-width: 1500px) {
    .self-container{
        padding: 0 130px;
    }
}