@font-face {
    font-family: 'digikala';
    src: url('../fonts/font/IRANSans.eot');
    src: url('../fonts/font/IRANSans.woff2') format('woff2'),
    url('../fonts/font/IRANSans.woff') format('woff');
}

body {
    font-family: digikala;
    box-sizing: border-box;
    color : #333 ;

}
.search-input{
    display: block;
    height: 100%;
    width: 100%;
    border: 0px;
    background-color: transparent;
}
.search-input:focus{
    outline: none;
}
.search-bar{
    right: 0;
    top: 0;
    max-height: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow-x: hidden;
    padding: 0px 20px;
    z-index: 10001;
}
.search-box{
    min-height: 300px;
    transition: all .3s ;
    opacity: 0;
}
.header-items{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}
.header-items li {
    font-size: 12px;
    cursor: pointer;
}
.header-items{
    transition: all .3s ;
}
.off-percent{
    background-color: #ef394e;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 5px;
    font-size: 12px;
}
.old-price{
    color: #888;
    font-size: 13px;
    text-decoration: line-through;
}
.price{
    font-size: 13px;
    font-weight: bold;
}
.products-row{
    padding: 15px 0px;
    width: 100%;
    min-height: 200px;
    background-color:#ef394e ;
    border: 2px solid #ef394e;
    border-radius: 10px;
}
.next-btn , .prev-btn{
    position: absolute;
    right: 110px;
    bottom:40px ;
    width: 40px;
    height: 40px;
    border: 1px solid #bbb;
    background-color: #eee;
    border-radius: 50%;
    opacity: 0;
    transition:all .3s;
    z-index: 2;
}
.prev-btn{
    right: 50px;
}
.slider-container:hover .prev-btn , .slider-container:hover .next-btn{
    opacity: 1;
}
.fresh {
    background-image: url("../../../public/svg/freshPattern.svg");
    background-repeat: no-repeat;
    background-color: #e9ede9;
}